<div class="card mb-3">
    <div class="card-header bg-secondary text-white">
        <h5>EMPRESA</h5>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>RUC:</strong> {{company.ruc}}</li>
            <li class="list-group-item"><strong>NOMBRE:</strong> {{company.name}}</li>
            <li class="list-group-item"><strong>DIRECCION:</strong> {{company.adress.city}}
                - {{company.adress.principalStreet}}
                {{company.adress.code}}
                {{company.adress.secondaryStreet}}
            </li>
        </ul>
    </div>
</div>